# 专题1因为包含爬虫但是并发不方便，所以暂时抛弃。相关数据的抓取在scrapy 的share-proce里。这里主要是取数

In [1]:
import pymongo
import pandas as pd
import numpy as np

In [2]:
class mongoCli(object):
    def __init__(self, dbname, sheetname, host='127.0.0.1', post='27017'):
        self.host = host
        self.post = post
        self.client = pymongo.MongoClient('mongodb://{0}:{1}'.format(self.host,self.post))
        self.db = self.client[dbname]
        self.col = self.db[sheetname]
        
    #def getdata(self,dbname,sheetname):
    #    self.db = self.client[dbname]
    #    self.col = self.db[sheetname]

In [3]:
#sl =  mongoCli('127.0.0.1','27017')
#sl.getdata('CodeAndName','shares')
#sharecodes = [{'sz002142': '宁波银行'},{'sz002807': '江阴银行'},{'sz002936': '郑州银行'},{'sz002948': '青岛银行'},{'sz002966': '苏州银行'},
#              {'sh600000': '浦发银行'},{'sh600015': '华夏银行'},{'sh600016': '民生银行'},{'sh600036': '招商银行'},{'sh600908': '无锡银行'},
#              {'sh600919': '江苏银行'},{'sh600926': '杭州银行'},{'sh600928': '西安银行'},{'sh601009': '南京银行'},{'sh601128': '常熟银行'},
#              {'sh601166': '兴业银行'},{'sh601169': '北京银行'},{'sh601187': '厦门银行'},{'sh601229': '上海银行'},{'sh601288': '农业银行'},
#              {'sh601328': '交通银行'},{'sh601398': '工商银行'},{'sh601577': '长沙银行'},{'sh601658': '邮储银行'},{'sh601818': '光大银行'},
#              {'sh601838': '成都银行'},{'sh601860': '紫金银行'},{'sh601916': '浙商银行'},{'sh601939': '建设银行'},{'sh601963': '重庆银行'},
#              {'sh601988': '中国银行'},{'sh601997': '贵阳银行'},{'sh601998': '中信银行'},{'sh603323': '苏农银行'},{'sz000001': '平安银行'}]
#
#sl.col.insert_many(sharecodes)

In [4]:
# 获取股票代码和名称
sl = mongoCli('CodeAndName','shares')
x = sl.col.find({},{'_id':0})

CNdict = {}
for kv in  x:
    for key in kv.keys():
            CNdict[key] = kv[key]

In [5]:
dd = []
for share in CNdict:
    # print(share) 
    sl = mongoCli('sharePrice',share)
    x = sl.col.find({},{'date':1})  
    l1 = []
    for i in x:
        l1.append(i['date'][0])
    
    df = pd.DataFrame(pd.value_counts(l1),columns=[share])
    df.sort_index(inplace=True)
    dd.append(df)

In [6]:
cc = pd.concat(dd,axis=1)

In [18]:
cc['sh601916']

2008-01-02   NaN
2008-01-03   NaN
2008-01-04   NaN
2008-01-07   NaN
2008-01-08   NaN
              ..
2008-07-15   NaN
2009-10-23   NaN
2009-01-06   NaN
2015-10-16   NaN
2012-10-11   NaN
Name: sh601916, Length: 3201, dtype: float64

In [11]:
cc.sort_index()

,sz002142,sz002807,sz002936,sz002948,sz002966,sh600000,sh600015,sh600016,sh600036,sh600908,...,sh601838,sh601860,sh601916,sh601939,sh601963,sh601988,sh601997,sh601998,sh603323,sz000001
2008-01-02,1780.0,NaN,NaN,NaN,NaN,NaN,NaN,1748.0,322.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1282.0,NaN,2040.0
2008-01-03,1832.0,NaN,NaN,NaN,NaN,NaN,NaN,2268.0,354.0,NaN,...,NaN,NaN,NaN,1849.0,NaN,NaN,NaN,989.0,NaN,2049.0
2008-01-04,1873.0,NaN,NaN,NaN,NaN,NaN,NaN,1853.0,NaN,NaN,...,NaN,NaN,NaN,2288.0,NaN,2183.0,NaN,NaN,NaN,2128.0
2008-01-07,1871.0,NaN,NaN,NaN,NaN,NaN,NaN,1705.0,NaN,NaN,...,NaN,NaN,NaN,2247.0,NaN,2137.0,NaN,NaN,NaN,2139.0
2008-01-08,1955.0,NaN,NaN,NaN,NaN,NaN,NaN,2091.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2535.0,NaN,NaN,NaN,2230.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-08,3521.0,995.0,857.0,NaN,2243.0,NaN,NaN,NaN,NaN,1212.0,...,NaN,441.0,NaN,4500.0,NaN,NaN,NaN,NaN,NaN,4429.0
2021-03-09,NaN,1706.0,NaN,1317.0,1008.0,1277.0,NaN,NaN,NaN,3475.0,...,646.0,NaN,NaN,3864.0,3317.0,NaN,NaN,1251.0,NaN,4496.0
2021-03-10,3867.0,NaN,NaN,1142.0,665.0,860.0,NaN,NaN,NaN,NaN,...,1301.0,222.0,NaN,4497.0,NaN,NaN,NaN,1725.0,NaN,4415.0
2021-03-11,4271.0,NaN,NaN,701.0,1393.0,NaN,NaN,NaN,1580.0,NaN,...,1110.0,687.0,NaN,4337.0,NaN,NaN,1167.0,1177.0,NaN,4414.0
2021-03-12,4194.0,NaN,NaN,1006.0,NaN,1348.0,NaN,1270.0,1264.0,2510.0,...,1200.0,252.0,NaN,4123.0,NaN,NaN,2077.0,1842.0,NaN,4388.0

In [7]:
cc.sort_index().isnull().sum()

sz002142    1476
sz002807    2699
sz002936    2987
sz002948    2985
sz002966    3032
sh600000    1998
sh600015    2057
sh600016    1996
sh600036    2202
sh600908    2792
sh600919    2671
sh600926    2702
sh600928    2978
sh601009    1745
sh601128    2801
sh601166    1632
sh601169    1805
sh601187    3159
sh601229    2680
sh601288    2096
sh601328    1878
sh601398    1684
sh601577    3027
sh601658    3047
sh601818    2066
sh601838    2937
sh601860    3018
sh601916    3054
sh601939    1646
sh601963    3193
sh601988    1618
sh601997    2644
sh601998    1943
sh603323    2818
sz000001    1670
dtype: int64

 驱动器 D 中的卷是 Data
 卷的序列号是 1673-D686

 D:\project\github\myproject\基金数据 的目录

2021/03/22  20:48    <DIR>          .
2021/03/22  20:48    <DIR>          ..
2021/03/16  21:38    <DIR>          .ipynb_checkpoints
2021/02/06  11:17             5,786 sp2014.csv
2021/02/06  11:48             5,907 sp2015.csv
2021/01/22  22:49            51,629 基金数据.ipynb
2021/03/13  22:35            61,157 银行市净值专题.ipynb
2021/03/22  20:48            19,899 银行市净值专题2.ipynb
               5 个文件        144,378 字节
               3 个目录 203,606,540,288 可用字节